div {
    margin: -2px;
    margin-bottom: -1px;
    margin-top: -1px;
}

#topbar {
    width: 500px;
    height: 75px;
    border: solid #813a1c 5px;
    background-color: #ec9975;
    z-index: -1;
}
.peashooter,.peashooter2,.peashooter3,.sun,.sunflower {
    width: 70px;
    height: 75px;
    background-size: 100% 100%;
    display: inline-block;
    margin: 1.25px;
    z-index: 0;
}

.peashooter{
    background-image: url('./images/Cards/peashooter1.jpg');
}


.sun {
background-image: url('./images/SunHD.png');
}

.sunflower {
background-image: url('./images/Cards/sunflower-button.jpg');

}
 #cost {
    width: 500px;
    height: 25px;
    margin-bottom: 5px;
    margin-left: 3.5px;
    z-index: -1;
    /* opacity: 0; */
} 

 .score {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: black;
    font-size: 7.5pt;
    width: 42.5px;
    height: 17.5px;
    z-index: 0;
    display: inline-block;
    margin: 2.5px;
    border: 0.5px solid rgb(224, 16, 16);
    background-color: #e8ec9c;
} 
#Map {
    width: 1075px;
    display: inline-block;
}
.house,.grass,.Zombies {
    width: 75px;
    height: 75px;
    background-image: url('./images/2dcea2bef6d1f58ff0307455b1a48295.jpg');
    background-size: 75px;
    display: inline-block;
    z-index: -1;
}

.house {
    background-image: url('./images/2dcea2bef6d1f58ff0307455b1a48295.jpg');
}

.grass {
    background-image: url('./images/a4229a483cf76e0b5458450c2e591ff3.jpg');
    
}

.Zombies {
    background-image: url('./images/93d1632f36cb12816efcc4ef8f7fa608.jpg');
}

.zombie1{
    
    position: relative; 
    width: 170px;
    height: 170px;
    border: solid green 10px;
    background-image: url('./images/PeashooterHD.png');
    background-size: 170px;
    background-color:green;
    display: inline-block;
    margin:5px;
    z-index: 0;
}

.peashooterActive1 {
    position: absolute;
    left: 0px;
    width: 25px;
    top: 17px;
}

.idh1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: red;
    margin-left: auto;
    margin-right: auto;
    font-size: 12.5pt;
}

.ZombiesSoldier1,.ZombiesSoldier2,.ZombiesSoldier3,.ZombiesSoldier4,.ZombiesSoldier5 {
    width: 75px;
    height: 75px;
    position: absolute;
    background-size: 100% 100%;
    display: inline-block;
    z-index: 2;
}

.ZombiesSoldier1 {
    background-image: url('./images/Zombie1/0Zombie1.gif');
}
.ZombiesSoldier2 {
    background-image: url('./images/Zombie3/0Zombie3.gif');
}
.ZombiesSoldier3 {
    background-image: url('./images/Zombie4/0Zombie4.gif');
}
.ZombiesSoldier4 {
    background-image: url('./images/Zombie5/0Zombie5.gif');
}
.ZombiesSoldier5 {
    background-image: url('./images/Zombie2/0Zombie2.gif');
}


.peashooter2{
    background-image: url('./images/Cards/peashooter2.jpg');
}
.peashooter3{
    background-image: url('./images/Cards/peashooter3.jpg');
}

#peashooterCost,#sunflowerCost,#peashooter2Cost,#peashooter3Cost{
opacity: 0;
}


/*/////////////////
.outerDiv {
    width: 970px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    border: 5px #022072 solid;
    border-radius: 30px;
    background-color: #506BB3;
}
.gamewonClass {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: yellow;
    margin: auto;
    width: 95%;
    font-size: 30pt;
}
.gameoverClass {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: yellow;
    margin: auto;
    width: 95%;
    font-size: 30pt;
}*/